<div>
  {{ Title }}
</div>


<div class="columns">
  <div class="column">
    <select class="select is-primary is-rounded"   [(ngModel)]="counter">
      <option *ngFor="let option of Options; index as i" value="{{ i }}">
        {{ option }}
      </option>
    </select>
  </div>
  <div class="column" *ngIf="IsText">
    <div *ngIf="counter != null">Good day: {{ Resources[counter] }}</div>
  </div>
  <div class="column"   *ngIf="!IsText">
    <img src="{{ Resources[counter] }}" width="200" />
  </div>

</div>







