<div *ngIf="!Show" class="article is primary">
  <div>
    <div>Your name:</div>
    <div><input type="text" [(ngModel)]="Name" /></div>
  </div>
  <div>
    <div>So your name is</div>
    <div>{{ Name }}</div>
  </div>
  <div>
    <button (click)="setName(Name)">ok</button>
  </div>
</div>

<div *ngIf="Show">
  <div>Hello {{ Name | titlecase }}</div>
  <div>
    <app-flags-child
      [title]="Title1"
      [options]="Options1"
      [resources]="ImageRescources"
      [isText]="false"
    ></app-flags-child>
  </div>

  <div>
    <app-flags-child
      [title]="Title2"
      [options]="Options2"
      [resources]="Sentences"
    ></app-flags-child>
  </div>
</div>
