<div class="card">
  <div class="card-content">
    <div class="title">Fun with flags and languages</div>
    <br />
    <div class="subtitle" *ngIf="!Show">
      <div>
        <div class="columns">
          <div class="column">
            <input
              class="input is-success is-outlined"
              type="text"
              name="name"
              [(ngModel)]="Name"
              placeholder="your name comes here"
            />
          </div>
        </div>

        <div >
          <div >
            So your name is
            {{ Name | titlecase }}
          </div>
          <br>
          <div >Am I right ?</div>
        </div>
<br>
        <button class="button is-success is-outlined" (click)="setName(Name)">
          yes
        </button>
      </div>
    </div>

    <div class="subtitle" *ngIf="Show">
      <div>
        <div>Hello {{ Name | titlecase }}</div>
        <br>
        <div>
          <app-flags-child
            [title]="Title1"
            [options]="Options1"
            [resources]="ImageRescources"
            [isText]="false"
          ></app-flags-child>
        </div>
<br>
        <div>
          <app-flags-child
            [title]="Title2"
            [options]="Options2"
            [resources]="Sentences"
          ></app-flags-child>
        </div>
      </div>
    </div>
  </div>
</div>
